body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;;
}



/*NAVBAR*/

.notification-badge {
  position: relative;
  right: -35px;
  top: -65px;
  color: #941e1e;
  background-color: #f5f1f2;
  margin: 0 -.8em;
  border-radius: 50%;
  padding: 5px 10px;
}

.bellIcon {
  margin-top:-5px
}


/*Overall Dashboard*/


.dashOutline {
  border: solid 3px lightgrey;

}

.dashboard  h2  {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
}


/*DigitComponent*/

.card-content {
  text-align: center;
}

.card .card-title {
  font-size: 1em;
  color: grey;
}

.KPIdigit {
  font-weight: bold;
  font-size: 2em;
}
