body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;;
}



/*NAVBAR*/

#notification-badge {
  position: relative;
  color: white;
  right: -40px;
  top: -15px;
  background-color: orange;
  margin: 0 -.8em;
  border-radius: 100%;
  padding: 5px 10px;
  z-index: 100;
}

.bellIcon {
  margin-top:-5px
}

#dropdown1 {
  width: 300px !important;
}
#root > div > nav > div > a {
margin: 0;
left: 2em;
}
#root > div > nav > div {
  margin-right: 2em;
}

.nav-wrapper .container {
  padding: 0;
}

/*Overall Dashboard*/

.farmview_container{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/farmview.jpg');
}

.milking_performance_container{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/milkoutput.jpg');
}

.milk_quality_container{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/milkquality.jpg');
}

.herd_mgmt_container{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/herdmgmt.jpg');
}


.dashOutline {
  /*border: solid 3px lightgrey;*/

}

.dashboard  h2  {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
}


.kpiDiagram{
  background-color: hotpink;
  height:300px;
}

.kpiValues {
  background-color: purple;
  height:300px;
}

.kpiValues > ul{
  text-align: center;
}


/*OVERVIEW_DASHBOARD - HerdCountOverviewComponent*/

.herdHealthKPI{
margin-left: 20%;
margin-right: 20%;
}

.kpi_boards .card {
  height: 25em;
}

.herdCountOverview {
  margin-left: auto;
  margin-right: auto;
}

.KPIdigit {
  font-weight: bold;
  font-size: 2em;
}

/*Detail Somatic Cell Count View*/

.CowID {
  margin-left: 25%;
  margin-right:25%;
}

.CowID > ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.CowID > li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}
.taskBox {
  height: 100%;
  max-height: 100%;
}

.taskBox .card-content {
  padding-top: 0.3em !important;
  padding-left: 2.5em !important;
  padding-right: 2.5em !important;
  font-size: 0.8em;
}

.taskBox .card {
  height: 100px;
}


.taskBox .card-title {
  font-size: 1.3em !important;
  font-weight: bold !important;
  margin-bottom: 0 !important;
}

.collapsible .collapsible-header{
  margin: 0 !important;
  
}

/*Chat*/

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}



/*testing*/

.main_dashboard {
  background-color: grey;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100vh;
  max-height: 100vh;
}

.task_sidebar {
  background-color: black;
  height: 100vh;
}

#root > div > div > div.kpi_boards.col {
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 2em;
}