.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

/** DELETE LATER**/

.bubble-container_forwarded {
  background: rgba(85, 153, 192, 0.438);
  border: solid #007aff 2px;
  height: 350px;
  width: 250px;
  max-width: 60%;
  border-radius: 20px;
  margin-right: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  float: right !important;
 
}

.message_forwarded {
  color: white;
  font-size: 14px;
  border-top-left-radius: 20px;
  padding: 10px 15px;
}

.sendMsgToSPOC {
  padding:30px
}

.send_btn {
  margin-top: 15px;
}

.img_notification_forwarded {
  width: 380px;
  height: 150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;

    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-image: url('../../../../assets/img/forwardedNotificationChat.jpg');

}