.main_detail_dashboard {
  height: 170vh;
}

div.herd_overview_nav {
    height: 100px;
    width: 70%;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 60px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.068), 0 1px 2px rgba(0, 0, 0, 0.151);
    display: table;
    table-layout: fixed;
    line-height: 0;
  }
  
  .herd_overview_nav div {
  display: table-cell;
  text-align: center;
  padding-left: 3px;
  padding-top: 10px;
  line-height: 10px;
  }

  .herd_overview_nav div:not(:last-child) {
    border-right: solid 1px #cbd1d4;
  }

  .herd_overview_nav div:last-child:hover{
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
  }

  .herd_overview_nav div:first-child:hover{
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
  }



.herd_overview_nav p:first-child {
    font-size: 13px;
    font-weight: bold;
}

.herd_overview_nav p.KPIdigit {
color: #F09960;
}


.herd_overview_nav .kpi_timestamp {
  font-size: 12px;
  color: grey;
}

span.sectionHeadline {
      position: relative;
      font-size: 16px;
  }

  span.sectionHeadline a{
    color: rgba(104,190,245,1);
}
  h2.sectionHeadline {
      font-size: 2em;
      color: white;
      font-weight: bold;
      position: absolute;
      top: 40px;
      left: 34%;
  }

  span.sectionHeadline .material-icons {
      color: white;
      margin-top:-50px;
      margin-right:-10px;
  }

.ho_nav_block {
  padding-top: 3px !important;
}

  .ho_nav_block:hover {
    background-color: rgb(255, 237, 198);
  }

  .ho_nav_block:first-of-type.active {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .ho_nav_block:last-of-type.active {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }


  .ho_nav_block.active {
    background-color: rgb(255, 237, 198)
  }




  /* __Sick Cows View____________*/

  .SomaticCellCountContainer {
      margin-top: 60px;
      margin-left: 50px;
      margin-right: 50px;
  }

  .SomaticCellCountContainer .subheadline {
    display: flex;
    flex-direction: row;
  }

  .SomaticCellCountContainer .subheadline input{

  }

  .SomaticCellCountContainer h4{
    font-size: 1.3em;
    font-weight: bold;
    color: grey;
}


div.SomaticCellCountContainer > div.subheadline > input {

    width: 300px;
}

.SomaticCellCountChart {
  background-color: white !important;
}


/*Sick Cows Bar-Chart */
.SCCcontainer .sickCows_barchart {
  margin-top: 4%;
  margin-bottom: 4%;;
}



/* List of cows that are in treatment */

.CowsInTreatment {
    margin-top: 40px;
}

ul.collapsible {
    box-shadow: none;
    border:none;
}



.collapsible div{
    background-color: #F6F7FB;
}

.tableHeader {
    font-weight: bold;
}

.collapsible-header img {
    height: 30px;
}

.NotificationsSomaticCellCount {
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #EAEBF1;
    padding: 40px;
    position: relative;


}

.notiSCCheadlineSearch {
  
  width: 50%;
  position: absolute;
  top:0;
  right:0;
  padding-left: 150px;
  padding-top: 10px;
}

div.notiSCCheadline {
  margin-top: -20px;
  margin-bottom: 50px;

}

.notiSCCheadline .material-icons{
margin-top: -6px;
color: #F09960;
}

.notiSCCheadline h4 {
  color: #F09960;
}

/*Notifications___________ */

.NotificationsSomaticCellCount h5 {
    font-size: 1.1em;
    font-weight: bold;
}


.pagination {
   text-align: center;
}

.noti_msg {
    border: 1px solid #cbd1d4;
    border-radius: 5px;
    height: 35px;
    width: 100%;
}


.noti_msg p {
    margin:0;
    display: inline;
}

.noti_msg .material-icons {
    margin-top: 5px;
    color: #F6738F;
}

.alarm_msg {
}
.collapsible-header .alarm_msg> p {
margin: 0 ;
}

/*__________________*/


.tabs-vertical .tabs {
    height: auto;
    flex-direction: column;
    position: absolute;
  }
   


  .tabs-vertical .tab {
    width: 100%;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: left;
    line-height: 48px;
    height: 110px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis; 
    background-color: #FDAE7A !important;
  }

  .tabs-vertical .tab:not(:last-child) {
    border-bottom: solid 1px rgb(215, 157, 119);
  }
  


    .tabs-vertical .tab .active {
     /* border-right: 3px solid #7280ce; */
      color: black !important; 
      background-color: white !important;
    }





    .tabs-vertical .tab a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }


      .tabs-vertical .tab a:hover {
        background-color: white;
        color: black;
      }



    .tabs-vertical .tab.disabled a {
      color: white;
      cursor: default; }

  .tabs-vertical .indicator {
    display: none; }



/*__Tabs - Card_______*/

.tabs-vertical {
  position: relative;
}


.tabs-vertical .tabs {
  width: 100px;
  float: left;
}

#tabIcon img{
  height: 20px;
  width: 20px;
  margin-top: 0;
}

#tabIcon {
  background-color: transparent;
  text-align: center;
  margin-bottom: 0;
  line-height: 1em;
}

.card-content.note{
  background-color: white;
  margin-left: 100px !important;
  margin-top:0;
  box-shadow: none;
  height: 550px;
}

.card-content .card-content{
  background-color: white;
  margin-left: 100px !important;
  margin-top:0;
  box-shadow: none;
  height: 550px;
}

.card_btns {
  position: absolute;
  background-color: white !important;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  display: inline;
}

.card_btns a {
  margin-right: 15px;
}

.card_btns a.treatCow {
  background-color: white;
  border: 2px solid #5AA1FA;
  border-radius: 5px;
  box-shadow: none;
  color:  #5AA1FA;
  font-weight: bold;
}

.card_btns a.modalAddTask {
  background-color: #FDAE7A;
  border-radius: 5px;
  box-shadow: none;
  color:  white;
  font-weight: bold;
}